

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(148, 197, 243);
  }
  
  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
  }
  
  .form {
    width: 50%;
    align-self: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: lightblue;
    height:400px;
    justify-content: center;
    BORDER-RADIUS:10PX;
    margin-top: 30PX;
  }

  .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
  margin-top:150px;
  margin-left:50%;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
     background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
  
  .file-upload-field{
      justify-content: center;
          margin-left: 20%;
          margin-right:20%;
          width: auto;
          background: #4556EB;
          color: #fff;
          text-transform: uppercase;
          font-weight: 900;
          padding: 16px 50px;
          float: right;
          border: none;
          border-radius:10px;
          margin-top: 37px;
          cursor: pointer; 
  }